[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "*"

[packages]
django = "*"
djangorestframework = "*"
dj-database-url = "*"
"psycopg2-binary" = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
